{% extends "homepage/layout.html" %}
{% load static %}
{% block title %}Home - Events Co.{% endblock %}

{% block content %}

    <div class="container" id="about-tab">
        <div class="row align-items-center gx-3 gy-5 py-5 mt-5">
        <div class="col-12 col-md-12 col-lg-5">
            <img src="{% static 'images/one.jpg' %}" class="img-fluid mx-auto d-block image-spacing w-75 shadow-lg" alt="Wedding"/>
        </div>
        <div class="col-12 col-md-12 text-justify col-lg-7 text-spacing">
            <h2 class="fw-bold text-warning fs-1 pb-3 text-center"> About Events Co. </h2>
            <p class="text-justify fw-bold">
                <span class="text-justify fw-bold text-warning"> Events Co., </span> are deeply committed to transforming your visions into 
                unforgettable, one of a kind experiences that leave a lasting impression. 
                With a passion for excellence and an unwavering dedication to detail, we 
                don’t just plan events, we craft them with the utmost care and precision. 
                We specialize in creating bespoke events that are fully customized to meet 
                your specific needs, ensuring that no two events are alike. Whether you’re 
                planning a grand corporate conference with hundreds of attendees, a magical 
                and intimate wedding ceremony, or a small, cozy gathering with close friends 
                and family, our team of highly experienced professionals is here to make sure 
                every element is flawlessly executed from start to finish.</p>
            <p class="text-justify fw-bold">
                Our mission is to take your ideas and turn them into a stunning reality. We 
                understand that every event is unique, and that’s why we offer a full range 
                of services designed to cover every aspect of your event. From the initial 
                planning stages where we sit down with you to understand your vision, to 
                designing the aesthetic elements that will give your event its distinctive 
                flair, all the way to the coordination on the day of the event itself—our 
                team is there every step of the way. We pride ourselves on our ability to 
                think outside the box, delivering creative solutions that perfectly align 
                with your vision, all while maintaining efficiency and ensuring that every 
                detail is executed seamlessly.</p>
            <p class="text-justify fw-bold">
                At Events Co., our personalized approach sets us apart. We don’t believe 
                in a one-size-fits-all method, but instead, work closely with you to make 
                sure that every element of your event is a reflection of your personal 
                style, taste, and preferences. Whether you envision an elegant, formal 
                affair or something more relaxed and casual, we have the expertise and 
                resources to make your dream a reality. Our goal is to remove the stress 
                and complications that can often accompany event planning, so you can 
                relax and focus on what’s most important—enjoying the day and creating 
                lasting memories with your guests.</p>
            <p class="text-justify fw-bold">
                Leave the logistics to us. At Events Co., we believe that every event, 
                no matter the size or occasion, should be a celebration. We are here 
                to make sure that happens by offering innovative solutions, meticulous 
                planning, and a level of dedication that ensures your event will be as 
                perfect as you imagined it. Whether it’s a corporate gala, a milestone 
                birthday, or a once-in-a-lifetime wedding, our team is committed to 
                delivering an exceptional experience that exceeds your expectations 
                and leaves both you and your guests with cherished memories.</p>
        </div>
        </div>
    </div>

{% endblock %}